@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


@theme {
  --color-Primary: #faa834;
  --color-Secondary: #8a8a8e;
  --color-white: #FFF7F4;
  --colro-heade:#1d293d;
}

